<div class="h-screen w-screen justify-center items-center text-center">
  <p class="py-10">アプリ名</p>
  <br>
  <p class="py-10">サインイン</p>
  <br>
  <div class="py-10">
    <p>メールアドレス</p>
    <input type="text" class="border-4 border-indigo-600">
  </div>
  <div class="py-10">
    <p>パスワード</p>
    <input type="password" class="border-4 border-indigo-600">
  </div>
  <a href="/">ログイン</a>
</div>