<div class="header" style="background-color:gray">
  <%= link_to t('defaults.logo'), schedules_path %>
  <% if current_user %>
    <%= link_to t('header.logout'), logout_path %>
  <% else %>
    <%= link_to t('header.create_user'), new_user_path %> |
    <%= link_to t('header.login'), login_path %>
  <% end %>
</div>
