<h1>やあ！順調かな？</h1>
<p>特別な用事はともかく、普段からやらなきゃいけないことってサボりがちになってくるよね。</p>
<p>えっ、「ならない。むしろサボる方が信じられない」？あはは、偉いですね……。</p>
<p>このアプリの制作者はサボりがちだからね。私のようなサボりがちをサポートできていればうれしいね。</p>
<p>それじゃ、引き続きスケジュールに則って頑張ってね。</p>