<%= form_with model: schedule, method: :post do |f| %>
  <div class="field">
    <%= f.label t('schedules.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "作成" %>
  </div>
<% end %>