<h2>プラン編集</h2>
<% if @plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= render "form", plan: @plan %>
